@charset "utf-8";
// 文章標題

// .tt{ color: #222; }
.cp {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #fff;
  border-radius: 8px;
  padding: 2em;
  overflow: hidden;

  @include screen('xs_mobile') {
    padding: 1em;
  }

  .pic {
    text-align: center;
    background: #fff;
    overflow: hidden;
    padding: 0.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 400px;
    margin: 0 auto 1em;

    img {
      width: 100%;
      margin: 0 0 0.5em;
      display: block;
    }

    &.float_left {
      width: 400px;

      float: left;
      margin: 0px 2em 1em 0;
      display: block;

      @include screen('xs_mobile') {
        float: none;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0px auto;
        display: block;
        margin-bottom: 1em;
      }
    }

    &.float_right {
      width: 400px;

      float: right;
      margin: 0px 0 1em 2em;

      @include screen('xs_mobile') {
        float: none;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0px auto;
        display: block;
        margin-bottom: 1em;
      }
    }

    figcaption {
      text-align: center;
      display: block;
      font-size: 0.938em;
    }

    @include screen('xs_mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: 0.5em;
    }
  }

  table {
    background: #fff;
    margin-bottom: 0;
    th {
      padding: 0.5em;
    }
    td {
      vertical-align: top;
      padding: 0.5em;
      @include screen('xs_mobile') {
        &:before {
          top: 0.5em;
        }
      }
      .file_download {
        margin: 0;
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          li {
            padding: 0;
            border-bottom: none;

            &:before {
              display: none;
            }
            span {
              margin: 0 auto;
              @include screen('xs_mobile') {
                margin: 0;
              }
              a {
                text-decoration: none;
                white-space: nowrap;
              }
            }
          }
        }
      }
      a {
        color: $linkColor;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }

  img {
    text-align: center;
    max-width: 100%;
    margin: 0 auto 1em;

    &.float_left {
      float: left;
      margin: 0px 2em 1em 0;
      width: auto;
      max-width: 45%;

      @include screen('xs_mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
        margin-bottom: 1em;
      }
    }

    &.float_right {
      float: right;
      margin: 0px 0 1em 2em;
      width: auto;
      max-width: 45%;

      @include screen('xs_mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
        margin-bottom: 1em;
      }
    }
  }
  .pic_center {
    text-align: center;
    margin-bottom: 1em;
    img {
      max-width: 100%;
    }
  }

  .iframe_v {
    overflow: hidden;
    padding-top: calc((9 / 16) * 100%);
    position: relative;
    margin: 1em 0;

    iframe {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto;
    }
  }

  a {
    @include aSetting;
    color: lighten($color: $primaryColor, $amount: 15);
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      color: lighten($color: $primaryColor, $amount: 15);
    }
  }
}
h3.title {
  // background-color: lighten($color: $lightColor, $amount: 18);
  background: rgb(111, 167, 218);
  background: linear-gradient(90deg, rgba(111, 167, 218, 1) 0%, rgba(246, 217, 222, 1) 100%);
  padding: 0.5em 1em;
  border-radius: 8px;
  color: $primaryColor;
  font-size: 1.125em;
  border-left: 8px solid $primaryColor;
  letter-spacing: 0.05em;
  span {
    color: #fff;
  }
}
h3.title2 {
  background-color: #cfd7e6;
  padding: 0.5em 0.5em 0.4em 1.2em;
  border-radius: 50px;
  color: #fff;
  font-size: 1.125em;
  letter-spacing: 0.05em;
  position: relative;
  &:before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fae586;
    position: absolute;
    left: 0.3em;
    top: -5px;
    z-index: 8;
  }
  span {
    position: relative;
    background-color: #dafffa;
    padding: 0.2em 1em;
    border-radius: 50px;
    z-index: 9;
    color: $primaryColor;
  }
}
h3.title3 {
  position: relative;
  font-size: 1.125em;
  letter-spacing: 0.05em;
  span {
    background-color: $secondaryColor;
    padding: 0.5em 1em;
    border-radius: 50px;
    color: #fff;
    border-left: 6px solid #ccc;
    border-right: 6px solid #ccc;
    display: inline-block;
    position: relative;
    z-index: 9;
  }

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    z-index: 8;
  }
  &:before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .maps {
    text-align: center;
    margin-bottom: 2em;

    iframe {
      width: 95%;
      margin: 0 auto;
    }
  }
}

// 檔案下載
.file_download {
  width: 100%;
  margin: 0 auto 2em;
  @include clearfix();

  h3 {
    font-size: 1.375em;
    padding: 12px 0px 10px 20px;
    margin: 0.5em 0px 0.2em;
    // border-bottom: 1px solid $primaryColor;
    background-color: lighten($color: $lightColor, $amount: 15);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    border-bottom: solid 1px #eee;

    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.32em;
      left: 0.1em;
      color: #666;
    }

    .file_name {
      line-height: 1.5em;
      margin: 0.2em 0.5em 0.2em 0;
      color: #222;
      display: block;
      flex: 1 1 auto;
      flex-basis: 100%;

      ~ span {
        flex: 0 0 auto;
        margin: 0.2em;
        font-size: 0.875em;
        line-height: 1.5em;
        vertical-align: middle;
        color: #666;

        a {
          color: #fff;
          display: inline-block;
          margin-right: 8px;
          text-decoration: none;
        }
      }
    }

    $fileType: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other;

    @each $fileType in $fileType {
      span.file_#{$fileType} {
        a {
          color: #fff;
          font-weight: bold;
          padding: 0.2em 0.8em;
          border-radius: 3px;

          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }

    span {
      &.file_doc,
      &.file_docx,
      &.file_odt {
        a {
          background: #275cb7;

          &:hover,
          &:focus {
            background: darken(#275cb7, 5%);
          }
        }
      }

      &.file_xls,
      &.file_xlsx,
      &.file_csv,
      &.file_ods {
        a {
          background: #387947;

          &:hover,
          &:focus {
            background: darken(#387947, 5%);
          }
        }
      }

      &.file_ppt,
      &.file_pptx,
      &.file_odp,
      &.file_pdf {
        a {
          background: #c55a3b;

          &:hover,
          &:focus {
            background: darken(#c55a3b, 5%);
          }
        }
      }

      &.file_pdf {
        a {
          background: #c00;

          &:hover,
          &:focus {
            background: darken(#c00, 5%);
          }
        }
      }

      &.file_zip {
        a {
          background: #eb712e;

          &:hover,
          &:focus {
            background: darken(#eb712e, 5%);
          }
        }
      }

      &.file_txt,
      &.file_other {
        a {
          background: #555;

          &:hover,
          &:focus {
            background: darken(#555, 5%);
          }
        }
      }

      &.file_mov {
        a {
          background: #009999;

          &:hover,
          &:focus {
            background: darken(#009999, 5%);
          }
        }
      }

      &.file_mp3,
      &.file_mp4 {
        a {
          background: #088ecc;

          &:hover,
          &:focus {
            background: darken(#088ecc, 5%);
          }
        }
      }

      &.file_jpg {
        a {
          background: #6c29a4;

          &:hover,
          &:focus {
            background: darken(#6c29a4, 5%);
          }
        }
      }

      &.file_wmv {
        a {
          background: #430a1f;

          &:hover,
          &:focus {
            background: darken(#430a1f, 5%);
          }
        }
      }
    }
  }
}

// 外部連結
.web_link {
  margin: 1em 0;
  @extend %clearfix;

  h3 {
    font-size: 1.375em;
    padding: 12px 0px 10px 20px;
    margin: 0.5em 0px 0.2em;
    // border-bottom: 1px solid $primaryColor;
    background-color: lighten($color: $lightColor, $amount: 15);
  }

  ol,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    position: relative;
    padding: 0.5em 0;
    border-bottom: solid 1px #eee;
    padding-left: 1.5em;

    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.35em;
      left: 0.1em;
      color: #666;
    }

    a {
      padding: 0.2em 0px;
      display: block;
      @include aSetting_nocolor;
    }
  }
}

// 點閱次數
.publish_info {
  line-height: 1.5em;
  list-style: none;
  padding: 0;
  margin: 0 0 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  @extend %clearfix;
  box-sizing: border-box;

  li {
    flex: 0 0 auto;
    margin-bottom: 0.5em;
    margin-right: 0.8em;
    background-color: lighten($color: $secondaryColor, $amount: 5);
    border-radius: 20px 0 20px 0;
    padding: 0.1em;
    border-radius: 50px;
    // box-shadow: $secondaryColor 0px 0px 0px 2px;
    position: relative;
    span {
      background-color: #fff;
      display: inline-block;
      padding: 0.2em 1em 0.2em 2em;
      border-radius: 50px;
      position: relative;
      z-index: 8;
      width: 100%;
      &:before {
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: darken($color: $lightColor, $amount: 10);
        position: absolute;
        left: 0.5em;
        top: 50%;
        transform: translateY(-50%);
      }
      &:after {
        content: '';
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: auto;
        top: 50%;
        transform: translateY(-50%);
        z-index: 7;
      }
    }
    &:before {
      content: '';
      width: 100%;
      height: 4px;
      background-color: #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:only-child {
      margin-bottom: 0em;
      margin-right: 0;
    }

    // @include screen('tablet') {
    //   flex: 1 1 calc(100% / 2);
    // }
    @include screen('xs_mobile') {
      flex: 1 1 calc(100% / 1);
      margin-right: 0;
    }
  }
}

// 點閱次數
.clicks_num {
  margin-bottom: 1.5em;
  display: block;
  clear: both;
  float: none;

  span {
    background-color: #fff;
    padding: 0.5em 1.5em 0.5em 3em;
    border-radius: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;

    &:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 1em;
      top: 10px;
      background-image: url('../images/icon/icon_click.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 20px;
    }
  }
}

// 頁籤tab
.tabblock {
  margin-bottom: 2em;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1 1 auto;
      margin: 0 4px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        padding: 0.8em 1.5em;
        background-color: #fff;
        color: #000;
        border-radius: 10px 10px 0 0;
        text-align: center;
        font-size: 1.125em;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: relative;

        &:hover,
        &:focus {
          background-color: $primaryColor;
          color: #fff;
        }

        &.active {
          background-color: $primaryColor;
          color: #fff;

          &:before {
            content: '';
            border: 10px solid $primaryColor;
            border-color: $primaryColor transparent transparent transparent;
            position: absolute;
            bottom: -20px;
            left: 50%;
            margin-left: -5px;
          }
        }
      }
    }
  }
}

.cp_table {
  table {
    background-color: #fff;
  }
  @include screen('xs_mobile') {
    table {
      th,
      td {
        display: block;
      }
    }
  }
}

.question_block {
  margin: 1em 0;

  .prev,
  .next {
    background-color: #fff;
    padding: 0.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1em;
    transition: 0.5s;
    display: flex;
    align-items: center;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: $linkColor;
      color: #fff;
    }

    button {
      flex: 0 0 auto;
      flex-basis: 100px;
      margin-right: 1em;
    }

    span {
      flex: 1 1 auto;
    }

    @include screen('xs_mobile') {
      flex-wrap: wrap;

      button,
      span {
        flex: 1 1 auto;
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 1em;
      }
    }
  }
}

// 階層順序中文
.hierarchical_order {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    counter-increment: number01;
    padding-left: 2em;
    text-indent: -2em;
    margin-bottom: 2em;
    &:before {
      content: counter(number01, cjk-ideographic) '、';
      width: 2em;
      display: inline-block;
      text-align: right;
    }
    > ul {
      margin: 0.5em 0;
      padding: 0;
      list-style-type: none;
      > li {
        counter-increment: number02;
        padding-left: 1.7em;
        text-indent: -2em;
        &:before {
          content: '(' counter(number02, cjk-ideographic) ')';
          width: 1.7em;
          margin-right: 0.3em;
          display: inline-block;
          text-align: right;
        }
        > ul {
          margin: 0.5em 0;
          padding: 0;
          list-style-type: none;
          > li {
            counter-increment: number03;
            padding-left: 1.7em;
            text-indent: -1.7em;
            &:before {
              content: counter(number03, decimal) '、';
              width: 1.7em;
              display: inline-block;
              text-align: right;
            }
            > ul {
              margin: 0.5em 0;
              padding: 0;
              list-style-type: none;
              > li {
                counter-increment: number04;
                padding-left: 1.7em;
                text-indent: -2em;

                &:before {
                  content: '(' counter(number04, decimal) ')';
                  width: 1.7em;
                  text-align: right;
                  margin-right: 0.3em;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 階層順序英文
.hierarchical_order_e {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    counter-increment: number01;
    padding-left: 2em;
    text-indent: -2em;
    margin-bottom: 2em;
    &:before {
      content: counter(number01, decimal) '、';
      width: 2em;
      display: inline-block;
      text-align: right;
    }
    > ul {
      margin: 0.5em 0;
      padding: 0;
      list-style-type: none;
      > li {
        counter-increment: number02;
        padding-left: 1.7em;
        text-indent: -2em;
        &:before {
          content: '(' counter(number02, decimal) ')';
          width: 1.7em;
          margin-right: 0.3em;
          display: inline-block;
          text-align: right;
        }
        > ul {
          margin: 0.5em 0;
          padding: 0;
          list-style-type: none;
          > li {
            counter-increment: number03;
            padding-left: 1.7em;
            text-indent: -1.7em;
            &:before {
              content: counter(number03, upper-alpha) '、';
              width: 1.7em;
              display: inline-block;
              text-align: right;
            }
            > ul {
              margin: 0.5em 0;
              padding: 0;
              list-style-type: none;
              > li {
                counter-increment: number04;
                padding-left: 1.7em;
                text-indent: -2em;

                &:before {
                  content: '(' counter(number04, lower-alpha) ')';
                  width: 1.7em;
                  text-align: right;
                  margin-right: 0.3em;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}
