.leftblock_banner {
  padding: 0 0 2.5em 0;
  .item {
    color: #666;
    text-align: center;
    font-weight: bold;
    background-color: #eee;
    margin-bottom: 10px;
    a {
      width: 100%;
      display: block;
      position: relative;
      @include aspect-ratio(3, 1);
      &:focus {
        &:after {
          position: absolute;
          width: 100%;
          height: 100%;
          box-shadow: 0px 0px 0px 2px lighten($primaryColor, 5) inset;
          content: '';
          z-index: 9;
          top: 0;
          left: 0;
        }
      }
      img {
        object-fit: cover;
      }
    }
  }
}

.leftblock_list {
  padding: 0 0 0.5em 0;
  margin-bottom: 1.5em;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .title {
    margin: 0 0 1em;
    padding: 0.5em;
    text-align: center;
    color: #fff;
    background-color: #666;
    font-size: 1.25em;
    font-weight: bolder;
  }
  ul {
    margin: 0;
    padding: 0 1em;
    list-style-type: none;
    li {
      margin: 0 0 0.5em;
      padding: 0 0 0.5em;
      border-bottom: 1px solid #ccc;
      time {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.813rem;
      }
      .dept {
        display: inline-block;
        padding: 0 0.5em;
        background-color: #f1f1f1;
        color: #555;
        font-size: 0.813em;
      }
      a {
        display: block;
        padding: 0 0 0.25em;
        line-height: 1.4em;
        font-size: 0.938em;
        color: #333;
        margin: 0.5em 0;
        &:hover {
          color: $aHover;
        }
      }
    }
  }
}

// 左側節點選單
.leftblock_nodemenu {
  // padding: 0 0 0.5em 0;
  margin-bottom: 1.5em;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 30px;
  padding: 1em 0 1em;
  border-top: 5px solid $primaryColor;
  border-bottom: 5px solid $primaryColor;
  position: relative;

  &.stickySidebar {
    position: sticky;
    top: 70px;
  }
  @include screen('tablet') {
    height: 95%;
    overflow-y: auto;
    &.stickySidebar {
      position: relative;
      top: auto;
    }
  }
  &:before {
    content: '';
    width: 40%;
    height: 10px;
  }

  .title {
    margin: 0 0.5em 1em;
    padding: 0.5em;
    text-align: center;
    color: #fff;
    background-color: $primaryColor;
    font-size: 1.25em;
    border-radius: 10px;
    font-weight: bolder;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    > li {
      margin: 0 0 5px;
      padding: 0;
      border-bottom: 1px solid #ccc;
      position: relative;
      display: block;
      button.arrow {
        font-size: 0;
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        background-color: #eee;
        right: 5px;
        top: 3px;
        border-radius: 5px;
        border: none;
        &:focus {
          border: none;
          box-shadow: none;
        }
        &:after {
          content: '';
          border: 2px solid #333;
          width: 8px;
          height: 8px;
          border-radius: 0;
          position: absolute;
          border-top: none;
          border-left: none;
          transform: rotate(45deg);
          right: 10px;
          top: 8px;
          transition: 0.2s;
        }
        &.open {
          &:focus {
            background-color: lighten($color: $lightColor, $amount: 8);
          }
          &:after {
            transform: rotate(-135deg);
            top: 12px;
          }
        }
      }
      &:last-child {
        border: none;
      }
      &.hasChild {
        a {
          margin-right: 3em;
        }
        ul {
          li {
            a {
              margin-right: 1em;
            }
          }
        }
      }
      &.active {
        > a {
          font-weight: bold;
          color: lighten($color: $primaryColor, $amount: 15);
        }
      }
      a {
        display: inline-block;
        padding: 0.5em 0.5em 0.5em 1em;
        line-height: 1.4em;
        color: #333;
        font-size: 1.063em;
        margin-right: 1em;
        &:hover {
          color: $aHover;
        }
      }
      ul {
        display: none;
        margin: 0;
        padding: 10px 0 5px;
        background-color: lighten($color: $lightColor, $amount: 15);
        li {
          position: relative;
          border: none;
          margin: 0;
          padding: 0;
          &:before {
            content: '';
            width: 8px;
            height: 2px;
            background-color: #666;
            position: absolute;
            left: 1.5em;
            top: 16px;
            border: none;
          }
          &.active {
            > a {
              font-weight: bold;
              color: $aHover;
            }
          }
          a {
            padding: 0.4em 0 0.4em 2.5em;
            position: relative;
            display: block;
            margin-right: 1em;
            margin-left: 1em;
            border-bottom: 1px solid #fff;
          }
          &:last-child {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
