/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// more按鈕
a.more {
  display: block;
  width: 10em;
  text-align: center;
  height: 2.5em;
  margin: 0.5em auto 0.5em;
  line-height: 2.5;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    right: -10px;
    top: 14px;
    border-left: none;
    border-bottom: none;
    transition: 0.3s ease-out;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primaryColor;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover,
  &:focus,
  &.active {
    color: white;
    &:before {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    &:after {
      right: 15px;
    }
  }
}

// 範例：
.demosection {
  [class^='col'] {
    border: 2px solid #fff;
    background: #dedede;
  }
}

.mp_main {
  section {
    padding: 10px 0 20px;
    background-size: cover !important;
    &:last-child {
      padding-bottom: 80px;

      @include screen('mobile') {
        padding-bottom: 60px;
      }
    }
  }
  .fatfooter {
    padding: 0 0 2em;
  }

  .container > .col {
    padding: 0 15px;

    .slick-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slick-slider {
    &.listBox {
      margin: 0 40px;
    }

    &[col='1'] {
      .slick-slide > div {
        padding: 0;
      }
    }
  }

  .slick-arrow {
    width: 40px !important;
    height: 40px !important;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      display: none;
    }

    &.slick-prev {
      background: url('../images/slick/icon_arrow_left_inverse.png') center no-repeat;
      background-size: contain;
      left: auto;
      right: 100%;
    }

    &.slick-next {
      background: url('../images/slick/icon_arrow_right_inverse.png') center no-repeat;
      background-size: contain;
      right: auto;
      left: 100%;
    }
  }

  .col-12 {
    @media screen and (min-width: 1401px) {
      .slick-slider {
        &.listBox {
          margin: 0px;
        }
      }
    }

    // .slick-arrow {
    //   @media screen and (min-width: 1401px) {
    //     &.slick-prev {
    //       left: auto;
    //       right: 100%;
    //     }

    //     &.slick-next {
    //       right: auto;
    //       left: 100%;
    //     }
    //   }
    // }
  }
}
// mpbanner
.mpSliderblock {
  padding: 0 !important;
  .container {
    width: 100%;
    max-width: 100%;
    .slick-initialized .slick-slide {
      display: block;

      & > div {
        padding: 0;
      }
    }
    > .col {
      padding: 0 !important;
    }
    .mpSlider01 {
      width: 100%;
      @include gutter(0);
      padding-bottom: 3em;
      .pic_box {
        // height: 410px;
        a {
          display: flex;
          background-color: #d3d3d3;
          &:after {
            content: '';
            border-radius: 0 0 25% 0/0 1% 102% 0;
            background: rgb(129, 129, 129);
            background: linear-gradient(121deg, rgba(129, 129, 129, 1) 74%, rgba(235, 235, 235, 1) 82%, rgba(115, 115, 115, 1) 88%);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 90;
            width: 35.2%;
            height: 500px;
            @media (max-width: 1800px) {
              border-radius: 0 0 33% 0/0 1% 102% 0;
              background: linear-gradient(118deg, rgb(129, 129, 129) 74%, rgb(235, 235, 235) 80%, rgb(115, 115, 115) 88%);
            }
            @media (max-width: 1500px) {
              border-radius: 0 0 35% 0/0 1% 102% 0;
              background: linear-gradient(110deg, rgb(129, 129, 129) 74%, rgb(235, 235, 235) 80%, rgb(115, 115, 115) 88%);
            }
            @media (max-width: 1200px) {
              border-radius: 0 0 43% 0/0 1% 102% 0;
              background: linear-gradient(109deg, rgb(129, 129, 129) 74%, rgb(235, 235, 235) 77%, rgb(115, 115, 115) 88%);
            }
            @media (max-width: 992px) {
              border-radius: 0 0 43% 0/0 1% 102% 0;
              background: linear-gradient(110deg, rgb(129, 129, 129) 61%, rgb(235, 235, 235) 73%, rgb(115, 115, 115) 88%);
            }
          }
          &:before {
            content: '';
            border-radius: 0 0 22% 0/0 1% 138% 0;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 50;
            width: 35.4%;
            height: 500px;
            box-shadow: 1px 2px 24px 13px rgba(0, 0, 0, 0.6);
          }
          @include screen('mobile') {
            display: block;
            &:after {
              display: none;
            }
          }
          .pic_content {
            flex: 0 0 auto;
            flex-basis: 35%;
            max-width: 35%;
            border-radius: 0 0 54% 0/0 1% 100% 0;
            background-color: #3361a1;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 100;
            padding: 0;
            color: #fff;
            height: 500px;
            background-image: url('../images/mp/mpsliderbg.jpg');
            background-repeat: no-repeat;
            background-position: center top;
            @media (max-width: 1800px) {
              border-radius: 0 0 78% 0/0 1% 100% 0;
            }
            @media (max-width: 1500px) {
              border-radius: 0 0 90% 0/0 1% 100% 0;
            }
            @media (max-width: 1200px) {
              border-radius: 0 0 100% 0/0 1% 100% 0;
            }
            @media (max-width: 992px) {
              height: 400px;
            }
            @include screen('mobile') {
              max-width: 100%;
              position: relative;
              border-radius: 0;
              height: auto;
              padding: 1em;
            }
            .caption {
              margin: 4em 7.5em 0 5em;
              @media (max-width: 1630px) {
                margin: 3em 5em 0 3em;
              }
              @media (max-width: 1500px) {
                margin: 2em 5em 0 3em;
              }
              @media (max-width: 1300px) {
                margin: 1.5em 3em 0;
              }
              @media (max-width: 1200px) {
                margin: 1.5em 2em 0;
              }
              @media (max-width: 992px) {
                margin: 1em 2em 0;
              }
              @include screen('mobile') {
                margin: 0;
              }
              .title {
                font-size: 2.4em;
                font-weight: 600;
                padding-bottom: 0.5em;
                margin-bottom: 0.6em;
                border-bottom: 2px solid #fff;
                line-height: 1.3em;
                letter-spacing: 0.02em;
                @include text-overflow;
                @media (max-width: 1200px) {
                  font-size: 2.2em;
                }
                @media (max-width: 900px) {
                  font-size: 1.875em;
                }
              }
              p {
                font-size: 1.25em;
                line-height: 1.5em;
                @include text-line(5, 1.5em);
                font-weight: normal;
                letter-spacing: 0.02em;
                @media (max-width: 1500px) {
                  @include text-line(4, 1.5em);
                }
                @media (max-width: 1300px) {
                  @include text-line(4, 1.5em);
                }
                @media (max-width: 1200px) {
                  @include text-line(3, 1.5em);
                }
                @media (max-width: 1000px) {
                  @include text-line(3, 1.5em);
                  font-size: 1.106em;
                }
              }
            }
          }
          .pic {
            flex: 0 0 auto;
            flex-basis: 75%;
            max-width: 75%;
            overflow: hidden;
            outline: 1px solid red;
            @include screen('mobile') {
              max-width: 100%;
              position: relative;
            }
            &:before {
              display: inline-block;
              content: '';
              padding-top: calc(409 / 1416) * 100%;
            }
            img {
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: auto;
              width: auto;
              height: 100%;
              margin: auto;
            }
          }
        }
      }
      // 箭頭的樣式

      .slick-prev {
        left: auto;
        right: calc(10% + 70px);
        top: auto;
        bottom: -12px;
        background: url('../images/slick/icon_arrow_left_inverse2.png') center center no-repeat RGBA(75, 116, 172, 0.8);
        border-radius: 50%;
        width: 60px !important;
        height: 60px !important;
        &:hover,
        &:focus {
          background: url('../images/slick/icon_arrow_left_inverse2.png') center center no-repeat RGBA(248, 157, 94, 1);
          width: 80px !important;
          height: 80px !important;
          bottom: -32px;
          box-shadow: none;
        }
        @media (max-width: 1330px) {
          right: 100px;
        }
        @include screen('mobile') {
          right: auto;
          left: 10px;
          top: 25%;
          bottom: auto;
          width: 50px !important;
          height: 50px !important;
          &:hover,
          &:focus {
            width: 60px !important;
            height: 60px !important;
          }
        }
      }
      .slick-next {
        right: 10%;
        top: auto;
        left: auto;
        bottom: -12px;
        background: url('../images/slick/icon_arrow_right_inverse2.png') center center no-repeat RGBA(75, 116, 172, 0.8);
        border-radius: 50%;
        width: 60px !important;
        height: 60px !important;
        &:hover,
        &:focus {
          background: url('../images/slick/icon_arrow_right_inverse2.png') center center no-repeat RGBA(248, 157, 94, 1);
          width: 80px !important;
          height: 80px !important;
          bottom: -32px;
          right: 9%;
          box-shadow: none;
        }
        @media (max-width: 1330px) {
          right: 30px;
          &:hover,
          &:focus {
            right: 10px;
          }
        }
        @include screen('mobile') {
          right: 10px;
          top: 25%;
          bottom: auto;
          width: 50px !important;
          height: 50px !important;
          &:hover,
          &:focus {
            width: 60px !important;
            height: 60px !important;
          }
        }
      }
    }
    .mpSlider02 {
      width: 100%;
      @include gutter(0);
      padding-bottom: 3em;
      .pic_box {
        // height: 410px;
        a {
          display: flex;
          background-color: #d3d3d3;
          background-image: url('../images/mp/mpsliderbg2.jpg');
          background-position: left top;
          background-repeat: no-repeat;
          @include screen('tablet') {
            display: block;
          }
          .pic_content {
            flex: 0 0 auto;
            flex-basis: 30%;
            max-width: 30%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 100;
            padding: 0;
            color: #fff;
            display: flex;
            justify-content: flex-end;
            @include screen('tablet') {
              max-width: 100%;
              position: relative;
            }
            .caption {
              background-color: $importantColor;
              border-radius: 8px;
              padding: 2em;
              width: 60%;
              margin: 2em 0;
              transform: skewY(-5deg);
              @media (max-width: 1700px) {
                width: 70%;
              }
              @media (max-width: 1500px) {
                width: 80%;
              }
              @media (max-width: 1300px) {
                width: 90%;
                padding: 1.5em 1em;
                margin: 1.5em 0;
              }
              @include screen('tablet') {
                transform: skewY(0deg);
                width: 100%;
                border-radius: 0;
                margin: 0;
                padding: 1em;
              }
              .title {
                font-size: 2em;
                font-weight: 600;
                line-height: 1.3em;
                letter-spacing: 0.01em;
                transform: skewY(5deg);
                @include text-line(2, 1.3em);
                @media (max-width: 1300px) {
                  @include text-line(1, 1.3em);
                }
                @include screen('tablet') {
                  transform: skewY(0deg);
                  font-size: 1.875em;
                }
              }
              p {
                font-size: 1em;
                @include text-line(5, 1.7em);
                font-weight: normal;
                letter-spacing: 0.05em;
                transform: skewY(5deg);
                line-height: 1.7em;
                @media (max-width: 1700px) {
                  @include text-line(3, 1.7em);
                }
                @media (max-width: 1500px) {
                  @include text-line(2, 1.7em);
                }
                @media (max-width: 1300px) {
                  @include text-line(3, 1.7em);
                }
                @media (max-width: 1100px) {
                  @include text-line(2, 1.7em);
                }
                @include screen('tablet') {
                  transform: skewY(0deg);
                  @include text-line(3, 1.6em);
                }
              }
            }
          }
          .pic {
            flex: 0 0 auto;
            flex-basis: 70%;
            max-width: 70%;
            overflow: hidden;
            @include screen('tablet') {
              max-width: 100%;
              position: relative;
            }

            &:before {
              display: inline-block;
              content: '';
              padding-top: calc(409 / 1416) * 100%;
            }
            img {
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: auto;
              width: auto;
              height: 100%;
              margin: auto;
            }
          }
        }
      }
      // 箭頭的樣式

      .slick-prev {
        left: auto;
        right: calc(10% + 70px);
        top: auto;
        bottom: -12px;
        background: url('../images/slick/icon_arrow_left_inverse2.png') center center no-repeat RGBA(75, 116, 172, 0.8);
        border-radius: 50%;
        width: 60px !important;
        height: 60px !important;
        &:hover,
        &:focus {
          background: url('../images/slick/icon_arrow_left_inverse2.png') center center no-repeat RGBA(248, 157, 94, 1);
          width: 80px !important;
          height: 80px !important;
          bottom: -32px;
          box-shadow: none;
        }
        @media (max-width: 1330px) {
          right: 100px;
        }
        @include screen('tablet') {
          right: auto;
          left: 10px;
          top: 25%;
          bottom: auto;
          width: 50px !important;
          height: 50px !important;
          &:hover,
          &:focus {
            width: 60px !important;
            height: 60px !important;
          }
        }
      }
      .slick-next {
        right: 10%;
        top: auto;
        left: auto;
        bottom: -12px;
        background: url('../images/slick/icon_arrow_right_inverse2.png') center center no-repeat RGBA(75, 116, 172, 0.8);
        border-radius: 50%;
        width: 60px !important;
        height: 60px !important;
        &:hover,
        &:focus {
          background: url('../images/slick/icon_arrow_right_inverse2.png') center center no-repeat RGBA(248, 157, 94, 1);
          width: 80px !important;
          height: 80px !important;
          bottom: -32px;
          right: 9%;
          box-shadow: none;
        }
        @media (max-width: 1330px) {
          right: 30px;
          &:hover,
          &:focus {
            right: 10px;
          }
        }
        @include screen('tablet') {
          right: 10px;
          top: 25%;
          bottom: auto;
          width: 50px !important;
          height: 50px !important;
          &:hover,
          &:focus {
            width: 60px !important;
            height: 60px !important;
          }
        }
      }
    }

    // 點點
    .slick-dots {
      bottom: 10px;
    }
    .slick-dots li {
      width: auto;
      height: auto;
      margin: 0 10px;

      button {
        width: 10px;
        height: 10px;
        border-radius: 10px;

        &::before {
          display: none;
        }
      }

      &.slick-active {
        button {
          width: 48px;
          // background: $mainColor;
        }
      }
    }
  }
}

// 最新消息
.mp_newsBlock {
  .tabContent {
    .nwes_content {
      display: flex;
      flex-wrap: wrap;

      .col {
        &:nth-of-type(1) {
          flex: 0 0 auto;
          flex-basis: 40%;
          max-width: 40%;
          margin-right: 30px;
        }
        &:nth-of-type(2) {
          flex: 1 1 auto;
          flex-basis: calc(100% - 40% - 30px);
          max-width: calc(100% - 40% - 30px);
        }
        &:only-child {
          flex: 1 1 auto;
          flex-basis: 100%;
          max-width: 100%;
        }
        @include screen('mobile') {
          &:nth-of-type(1),
          &:only-child {
            flex-basis: 100%;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 1em;
          }
          &:nth-of-type(2) {
            flex-basis: 100%;
            max-width: 100%;
            margin-right: 0;
          }
        }
      }

      .picBox {
        border-radius: 8px 8px 0 0;
        .sort {
          border-radius: 0 0 0 8px;
        }
        time {
          background: $linkColor;
        }
      }
      .info {
        border-radius: 0 0 8px 8px;
        .title {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 1.5;
          margin-bottom: 0;
          font-size: 1.125em;
          font-weight: normal;
        }
      }
      ul {
        height: auto;
        li {
          border-bottom: 1px solid #bfbfbf;
          margin-bottom: 0;
          a {
            box-shadow: none;
            padding: 10px 15px;
            height: auto;
            display: flex;
            time {
              width: auto;
              height: auto;
              border-radius: 0;
              background-color: transparent;
              color: $color-word;
              font-size: 1.125em;
              font-weight: normal;
            }
            .title {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              font-weight: normal;
            }
            .jobtag {
              width: 30px;
              height: 27.7px;
              margin-right: 10px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
// 重要業務及服務
.mp_businessBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
  .business_group {
    flex: 0 0 auto;
    flex-basis: 49%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    margin-bottom: 1.2em;
    border-radius: 8px;
    @include screen('tablet') {
      flex: 1 1 auto;
      flex-basis: 100%;
    }
    &:hover {
      .pic {
        img {
          transform: scale(1.1);
        }
      }
    }

    .pic {
      flex: 0 0 auto;
      flex-basis: 45%;
      overflow: hidden;
      position: relative;
      min-height: 147px;
      border-radius: 8px 0 0 8px;
      @include screen('xs_mobile') {
        flex-basis: 35%;
      }

      &:before {
        display: inline-block;
        content: '';
        padding-top: 0.52;
      }
      img {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        object-fit: cover;
        transition: 0.5s;
      }
    }
    .info {
      flex: 1 1 auto;
      padding: 1em;
      .title {
        font-size: 1.25em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #7f7f7f;
        color: $color-word;
        font-weight: bolder;
        margin-bottom: 0.5em;
        a {
          display: block;

          color: $primaryColor;
          &:hover {
            color: $secondaryColor;
          }
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: inline-block;
          font-size: 1.125em;
          position: relative;
          line-height: 1.5;
          margin-right: 0.3em;
          &:after {
            content: '/';
            color: #b3b3b3;
            position: absolute;
            right: 0;
            top: 0;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
          a {
            display: block;
            padding: 0 1em 0 0;
            color: $primaryColor;
            &:hover {
              color: $secondaryColor;
            }
          }
        }
      }
    }
  }
}
// 焦點知識分享
.mp_knowledgeBlock {
  margin-bottom: 1em;
  .listBox {
    .item {
      box-shadow: none !important;
      padding: 0 !important;
      border-radius: 8px;
      &:hover {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15) !important;
        border-radius: 8px;
      }
    }
  }
}
// 加值服務資源
.mp_cardLinkBlock {
  margin-bottom: 3em;
  .item {
    a {
      &:hover {
        .pic {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .pic {
    position: relative;
    @include aspect-ratio(3, 2.5);
    border-radius: 8px 8px 0 0;
    img {
      transition: 0.5s;
    }
  }
  .info {
    border-radius: 0 0 8px 8px;
    .title {
      margin-bottom: 0 !important;
      text-align: center;
      -webkit-line-clamp: 1 !important;
    }
  }
}
// 業務成果
.mp_achievementsBlock {
  padding: 1em 0;
  margin-bottom: 2em;
  position: relative;
  @include screen('mobile') {
    margin-bottom: 0;
  }
  .achievement_slider {
    .slick-list {
      padding-bottom: 1em;
    }
  }
  .item {
    background-color: #fff;
    display: flex !important;
    align-items: center;
    position: relative;
    padding: 1em;
    min-height: 170px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    @media (max-width: 600px) {
      display: block !important;
      padding: 2em;
      .num01 {
        flex: 1 1 auto;
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 0.5em;
      }
      .info {
        flex: 1 1 auto;
        flex-basis: 100%;
        border-left: none !important;
        padding: 0;
        border-top: 1px solid #7f7f7f;
      }
    }
    @media (max-width: 400px) {
      padding: 1em;
    }
    .num {
      flex: 0 0 auto;
      flex-basis: 100px;
      color: $secondaryColor;
      font-size: 3em;
      padding-right: 10px;
      font-weight: bolder;
      text-align: center;
      line-height: 1.5em;
    }
    .info {
      flex: 1 1 auto;
      padding: 0.8em;
      border-left: 1px solid #7f7f7f;
      .title {
        font-size: 1.125em;
        color: $color-word;
        font-weight: bolder;
        margin-bottom: 0.3em;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: inline-block;
          font-size: 1.125em;
          position: relative;
          line-height: 1.5;
          padding-right: 1em;
          em {
            font-style: normal;
            padding: 0 0 0 0.3em;
            color: $primaryColor;
            font-weight: bolder;
          }
          &:after {
            content: '/';
            color: #b3b3b3;
            position: absolute;
            right: 0;
            top: 0;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
          a {
            display: block;
            padding: 0 1em 0 0;
            color: $primaryColor;
            &:hover {
              color: $secondaryColor;
            }
          }
        }
      }
    }
  }
}
// 網站連結
.mp_linkBox {
  .item {
    padding-top: 1em;
    a {
      .pic {
        img {
          border-radius: 8px;
        }
      }
      .title {
        border-radius: 8px;
      }
      &:hover {
        border-radius: 8px;
      }
    }
  }
}
.mp_main {
  .c_indexMore {
    a {
      border-radius: 8px;
      display: inline-block !important;
    }
  }
}
// 首頁影片
.mpvideo_block {
  padding: 0 !important;
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    // outline: 1px solid red;
    > .col {
      padding: 0 !important;
    }
    video {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}
